<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/static/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/javascripts/items.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

<div id="modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content modalLoginSignEntry">



    </div>
  </div>
</div>



<nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="logo"></div>
      </div>

      <div class="col-lg-7">
        <ul>
          <li><a href="">Магазин</a></li>
          <li><a href="">Игротека</a></li>
        </ul>
      </div>

      <div class="col-lg-2">
          <p class="sign"><a href="" class="signup" data-toggle="modal" data-target="#modal" onclick="renderModalSign();">Регистрация</a></p>
      </div>

        <div class="col-lg-1">
            <p class="login"><a href="" data-toggle="modal" data-target="#modal" onclick="renderModalLogin();">Вход</a></p>
      </div>

    </div>
  </div>
</nav>
    {% include 'modalLoginSign.html'%}
{% block body %}{% endblock %}


</body>
</html>